@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-white {
  background-color: #fff !important;
}

/* .text-white {
  color: #fff;
} */

/* header */

.top-search {
  flex: 1;
  border-right: 1px solid #fff;
}

.top-search:focus-visible {
  outline: none;
}

/* Content */

.side {
  width: 30%;
}

.box {
  box-shadow: 3px 5px 37px #00000017;
  border-radius: 4px;
}

.value .person {
  transform: translate(-50%, -9px);
  width: 65%;
  justify-content: space-between;
  border: 2px solid #fff;
  box-shadow: 0px 3px 6px #00000029;
}

.details {
  box-shadow: 3px 5px 37px #00000017;
}

.actions li {
  box-shadow: 0px 3px 6px #00000029;
}

.bottom-search {
  border: 1px solid #cccccc;
}

.bottom-search:focus-visible {
  outline: none;
}
